{% extends "base.html" %}
{% load static %}

{% block content %}
<form style="margin: 20px;" id="feedbackForm">
    {% csrf_token %}
    <div class="mb-3">
        <label for="InputName" class="form-label">Name</label>
        <input type="text" class="form-control" id="InputName" aria-describedby="emailHelp" required>
        <div id="nameHelp" class="form-text">We'll never share your name or email with anyone else.</div>
    </div>
    <div class="mb-3">
        <label for="InputEmail" class="form-label">Email Address</label>
        <input type="email" class="form-control" id="InputEmail" required>
    </div>
    <div class="mb-3">
        <label for="InputFeedback" class="form-label">Feedback</label>
        <textarea class="form-control" id="InputFeedback" rows="5" required></textarea>
    </div>
    <button type="submit" class="btn btn-primary" style="background-color: #0d6efd;">Submit</button>
</form>
<main style="margin: 20px;">
    <br/>
    <br/>
    <br/>
    <section class="feedback-guidelines">
        <h2>Feedback Guidelines</h2>
        <p>Please provide constructive feedback and suggestions to help us improve our platform. We welcome feature requests, bug reports, usability suggestions, and any other comments you may have. Thank you for helping us make FinBuddy better!</p>
    </section>

    <section class="contact-info">
        <h2>Contact Us</h2>
        <p>If you prefer to contact us directly, you can reach us at <a href="mailto:valentine.ezikeoha@bison.howard.edu">contact@finbuddy.com</a>. We're also available on social media platforms such as Twitter, Facebook and Instagram.</p>
    </section>
</main>

<script>
    document.getElementById("feedbackForm").addEventListener("submit", function(event) {
        event.preventDefault(); // Prevent form submission

        // Clear form inputs
        document.getElementById("InputName").value = "";
        document.getElementById("InputEmail").value = "";
        document.getElementById("InputFeedback").value = "";

        // Display popup message
        var popup = document.createElement("div");
        popup.classList.add("popup");
        popup.innerText = "Thank you for your feedback! Your input is valuable to us.";
        document.body.appendChild(popup);

        setTimeout(function() {
            popup.remove();
        }, 5000);
    });
</script>

<style>
    .popup {
        position: fixed;
        top: 30%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: #0d6efd;
        color: white;
        padding: 50px;
        border-radius: 10px;
        animation: popupAnimation 1s ease-in-out;
    }

    @keyframes popupAnimation {
        0% {
            opacity: 0;
            transform: translate(-50%, -50%) scale(0.5);
        }
        100% {
            opacity: 1;
            transform: translate(-50%, -50%) scale(1);
        }
    }
</style>

{% endblock content %}
