{% extends "base.html" %} {% load static %} {% block content %}
<section class="welcome-section">
  <div class="welcome">
    <h1>Welcome!</h1>
    <br />
    <p>
      We believe that financial literacy is the cornerstone of security, growth,
      and personal empowerment! Our AI-powered library, built with heart and
      expertise, offers lessons from Budgeting and Credit, to Savings and Taxes
      as well as your very own AI Financial Advisor!
    </p>
  </div>

  <div class="get-started">
    <div class="one">
      <h3>Get Started</h3>
      <p>
        Select the Financial Health menu to obtain a detailed Financial Health
        Report or head towards the Learn Menu to begin your Financial Journey!
      </p>
    </div>
    <div class="two">
      <img src="{% static 'img/started.png' %}" alt="" />
    </div>
  </div>

  <div class="ai-advisor">
    <div class="three">
      <img src="{% static 'img/advisor.png' %}" alt="" />
    </div>
    <div class="four">
      <h3>AI Advisor</h3>
      <p>
        Head over to your personal AI Finance Advisor for finance-related
        questions!
      </p>
    </div>
  </div>
</section>
{% endblock %}
